<mat-card class="parent" style=" display: flex; flex-direction: center;" >
  <form [formGroup]="myForm" (ngSubmit)="submitForm(myForm.value)">
    <div class="parent">
      <mat-card-content style="display: flex; flex-direction: column;
        width: 200px;">
          <mat-form-field>
            <mat-label>Item</mat-label>
            <input matInput placeholder="name" [formControl]="myForm.controls['name']"/>
            <!--<mat-hint *ngIf="myForm.controls['name'].hasError('required')">Can't leave field empty</mat-hint>-->
          </mat-form-field>
          <label style="margin-bottom: 10px;">Is it complete?</label>
            <mat-radio-group  formControlName="isComplete" style="display: flex; flex-direction: row; width: 200px;">
              <mat-radio-button value="true"  >yes
              </mat-radio-button>
              <mat-radio-button value="false" >no
              </mat-radio-button>
            </mat-radio-group>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit">submit</button>
      </mat-card-actions>
    </div>
  </form>
</mat-card>

<!-- 
                  <form #myForm="ngForm2">
                    <div class="parent">
                      <mat-card-content style="display: flex; flex-direction: column;">
                          <mat-form-field>
                            <mat-label>Title</mat-label>
                            <input matInput placeholder="Title">
                          </mat-form-field>
                          <mat-form-field>
                            <mat-label>Description</mat-label>
                            <input matInput placeholder="Description">
                          </mat-form-field>
                          <mat-form-field>
                            <mat-label>Category name</mat-label>
                            <input matInput placeholder="Category name">
                          </mat-form-field>
                          <mat-form-field>
                            <mat-label>Category slug</mat-label>
                            <input matInput placeholder="Category slug">
                          </mat-form-field>
                          <mat-form-field>
                            <input matInput [matDatepicker]="picker" placeholder="Date created">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                          </mat-form-field>
                        </mat-card-content>
                        <mat-card-actions>
                          <button mat-raised-button color="primary">submit</button>
                        </mat-card-actions>
                      </div>
                    </form> 
      
                  -->
                  <!--<mat-grid-list cols="3" rowHeight="1:1"> 
                      <mat-grid-tile></mat-grid-tile>
                      <mat-grid-tile>  
                        <mat-card class="parent" style="width: 400px;" >
                            <mat-card-header>
                              <mat-card-title>
                                <h2>Registration <mat-icon matSuffix style="transform: scale(1.5);">account_circle</mat-icon></h2>
                              </mat-card-title>
                            </mat-card-header>
                            
                            <form #f="ngForm" (ngSubmit)="onSubmit(f.value)" >
                            <div class="parent">
                              <mat-card-content style="display: flex; flex-direction: column;
                              width: 200px;">
                                    <mat-form-field>
                                      <mat-label>first name</mat-label>
                                      <input matInput type="text" placeholder="e.g. Adam" name="firstName" id="firstName" ngModel />
                                    </mat-form-field>
                                    <mat-form-field>
                                      <mat-label>last name</mat-label>
                                      <input matInput type="text" placeholder="e.g. Hughes" name="lastName" id="lastName" ngModel />
                                    </mat-form-field>
                                    <mat-form-field>
                                      <input matInput [matDatepicker]="picker" placeholder="choose a date">
                                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                      <mat-datepicker #picker></mat-datepicker>
                                    </mat-form-field>          
                                    <mat-form-field>
                                      <textarea matInput placeholder="Leave a comment"></textarea>  
                                    </mat-form-field>
                                  </mat-card-content>
                                </div>
                                <mat-card-actions>
                                  <mat-grid-list cols="3" rowHeight="1:1">
                              <mat-grid-tile></mat-grid-tile>
                                  <mat-grid-tile>
                                      <button mat-button type="submit" color="primary">SUBMIT</button>
                                    </mat-grid-tile>
                                    <mat-grid-tile></mat-grid-tile>
                                  </mat-grid-list>
                                </mat-card-actions>
                              </form>
                            </mat-card>
                  
                          -->
